
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body { font-family: 'Roboto', sans-serif;}

h1 { font-family: 'Roboto Slab', serif; 
    color: #0a2ff1; 
    font-size: 96px;
    font-weight: 700;}
     
p {color:#04146c;
    font-size: 34px;
    font-weight: 400;}

a { font-size: 20px; 
    font-family: 'roboto slab';
    color: #04146c; 
    font-weight: 400;
    text-decoration: none;
    margin-right: 10px;}

nav { display: flex; 
    align-items: center;}

header { text-align:center;}
    
img { width: 100%;}
    
.activo { font-weight: 700;}

#logo { width: 5%;}

nav, header { width: 100%;}


h2{ font-size: 45px;}

h3,main p { font-size: 24px; font-weight: 700;}

h3,h2,main p { color: #04146c;}

main  p { font-weight:400;}

main{ width:100%; padding: 10px;}

main div { width: 60%;}

main img {width: 50%;
    position: absolute; 
    top: 182%;
    left: 45%;}


footer { background-color:#3957F1; 
    width: 100%; 
    height:100px; 
    display: flex;
    align-items: center; 
    padding: 10px; }
#footer-logo { width: 10%;}